POSTGRES_DB=igbot
POSTGRES_USER=igbot
POSTGRES_PASSWORD=supersecret
POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5432
SECRET_KEY=change_me
APP_PORT=8000
ADSPOWER_BASE_URL=http://127.0.0.1:50325
TZ=Asia/Karachi
